#container{
    text-align: center;
    background-color: teal;
    color: white;
    padding: 15px;
}
body{
    font-family: Arial;
}
form{
    padding: 10px;
    margin: auto;
}
button{
    color: teal;
    background-color: white;
    padding: 5px;
    border: 2px solid teal;
    margin: auto;
    display: block;
}
label { 
    float: left;
    display: block;
    margin: auto; 
    padding: 5px;
}
span { 
    display: block; 
    margin: auto;
    padding: 5px; 
    text-align: center;

}
input { 
    border: 1px solid grey; 
    padding: 5px;
    display: block;
    margin: auto;
}
#msg{
    color: red;
    text-align: center;
}
#primeNumber{
    color: teal;
    text-align: center;
}